*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}

.padre{

}

/* Header */
header{
    background: #000;
}

.menu{
    background: #2F86A6;
}

.logo{
    background: #34BE82;
}

.nav{
    background: #34BE82;
}

.social{
    background: #34BE82;
}

.texto-principal{
    background: #F2F013;
}

h1{
    background: #C67ACE;
}
/* Main */ 
.main{
    background: #000;
}

.articulos{
    background: #FF9300;
}

.article{
    background: #FF0000;
}

.navegacion{
    background: #002366;
}

aside{
    background: #D62AD0;
}

.publicidad{
    background: #66DE93;
}

/* Footer */ 
footer{
    background: #000;
}

.pie{
    background: #F58634;
}