/* Reglas CSS */

*{
    margin:0;
    padding:0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height:100vh;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}

div.titulo{
    text-align: center;
}

section{
    display: flex;
    justify-content: space-around;
}